{% extends 'base.html.twig' %}

{% block body %}
        {% for pageMembre in pageMembres %}
            <h1>{{ pageMembre.title }}</h1><br>
            <div class="row center-block row-diners">
            {% for membre in membres|reverse %}

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail" id="thumbnail-membre">
                        {% if membre.iname %}
                            <div class="image" style="background-image: url({{ vich_uploader_asset(membre, 'image', 'ClubBundle\\Entity\\Membres') }})"></div>
                        {% else %}
                        {% endif %}
                        <div class="caption">
                            <h4>{{ membre.name }}</h4>
                            <div class="contrainte-membre">
                                <p>{{ membre.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}


{% endblock %}
