{% extends 'base.html.twig' %}


{% block body %}

    <!-- ****************************************** -->
{% for ara in aras %}

    <div class="container-fluid">
        <h1>{{ ara.title }}</h1>

        <div class="row blockGray homepageBlock">
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <img src="{{ vich_uploader_asset(ara, 'image', 'ClubBundle\\Entity\\Ara') }}" alt="" width="100%"/>
            </div>
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <h2>{{ ara.soustitre }}</h2>

                <p>{{ ara.paragraph }}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
